@charset "utf-8";
/*==================================================
　5-2-4 MENUがCLOSEに
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn4{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#e7ab4b;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn4 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
  background: #fff;
    width: 45%;
  }


.openbtn4 span:nth-of-type(1) {
  top:13px; 
}

.openbtn4 span:nth-of-type(2) {
  top:19px;
}

.openbtn4 span:nth-of-type(3) {
  top:25px;
}

.openbtn4 span:nth-of-type(3)::after {
  content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top:5px;
  left:-2px;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn4.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn4.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(3)::after {
  content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
  top:5px;
  left:4px;
}
/*========= レイアウトのためのCSS ===============*/

body{
  background:#f3f3f3;
    padding:20px;
    color: #f58e26;


}


a{
  color: #333;
  text-decoration: none;
}

.lead{
  margin:20px 0 0 0;
}

.btn-block{
  width:200px;  
  padding: 30px;
}


/*== グラデーション線から塗に変化する */

.gradient4{
  /*ボタンの形状*/
  display: inline-block;
  padding: 18px 60px;  
  border-radius:30px;
  text-decoration: none;
  border:1px solid #fa6c9f;
  color: #fa6c9f;
  outline: none;
  /*アニメーションの指定*/ 
  transition: all 0.4s ease-out;
}

/*hoverした際、グラデーションと影を付ける*/
.gradient4:hover{
  /*ボタンの形状*/
  border-color:transparent;
  color: #fff;
  /*背景の色と形状*/
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size: 200% auto;
  background-position: right center;
  /*ボックスの影*/   
  box-shadow: 0 5px 10px rgb(250,108,159,0.4);
}

/*========= レイアウトのためのCSS ===============*/

p{
  margin: 0 0 10px 0;
}
